.Left-Player {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.Right-Player {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.Bottom-Player {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.Top-Player {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.Common-Cards {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  display: inline-block;
  padding: 20px 20px 20px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: darkgreen;
  color: #fff;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: darkolivegreen;
}

.Messages {
  font-size: 18px;
}