.App {
  text-align: center;
  background-image: url('Images/background.jpg');
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
}

.Logo{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 15px;
  font-size: 32px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttonRight {
  display: inline-block;
  padding: 20px 20px 20px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: darkred;
  color: #fff;
  transition: background-color 0.3s ease;
}

.buttonRight:hover {
  opacity: 0.8;
}

.Messages {
  font-size: 18px;
}

.Right {
  position: fixed;
  top: 20px;
  right: 20px;
}